<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="AHT_Question::question" title="Question" translate="Question" module="AHT_Question" sortOrder="50"   resource="AHT_Question::question"/>
		<add id="AHT_Question::index" title="Question" module="AHT_Question" parent="AHT_Question::question" action="question/question/index" resource="AHT_Question::index" sortOrder="55" />
	</menu>
</config>
